<div th:fragment="loader">
	<table>
		<tr>
			<th></th>
			<th></th>
			<th></th>

		</tr>
		<tr>
			<td>
				<div class='container1 loading1'>
					<div class='img1-container1'>
						<div class='img1'></div>


						<div class='stripe1 long-stripe1'></div>

						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
					</div>
				</div>
			</td>
			<td>
				<div class='container1 loading1'>
					<div class='img1-container1'>
						<div class='img1'></div>


						<div class='stripe1 long-stripe1'></div>

						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
					</div>
				</div>
			</td>
			<td>
				<div class='container1 loading1'>
					<div class='img1-container1'>
						<div class='img1'></div>


						<div class='stripe1 long-stripe1'></div>

						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
					</div>
				</div>
			</td>


		</tr>


		<tr>
			<td>
				<div class='container1 loading1'>
					<div class='img1-container1'>
						<div class='img1'></div>


						<div class='stripe1 long-stripe1'></div>

						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
					</div>
				</div>
			</td>
			<td>
				<div class='container1 loading1'>
					<div class='img1-container1'>
						<div class='img1'></div>


						<div class='stripe1 long-stripe1'></div>

						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
					</div>
				</div>
			</td>
			<td>
				<div class='container1 loading1'>
					<div class='img1-container1'>
						<div class='img1'></div>


						<div class='stripe1 long-stripe1'></div>

						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
					</div>
				</div>
			</td>


		</tr>


		<tr>
			<td>
				<div class='container1 loading1'>
					<div class='img1-container1'>
						<div class='img1'></div>


						<div class='stripe1 long-stripe1'></div>

						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
					</div>
				</div>
			</td>
			<td>
				<div class='container1 loading1'>
					<div class='img1-container1'>
						<div class='img1'></div>


						<div class='stripe1 long-stripe1'></div>

						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
						<div class='stripe1 long-stripe2'></div>
					</div>
				</div>
			</td>



		</tr>
	</table>
	<div class="blink_me">
		<div class="row justify-content-center">

			<!-- Pagination -->
			<nav class="mb-4">

				<ul class="pagination pagination-circle pg-blue mb-0">

					<!-- First -->
					<li class="page-item disabled clearfix d-none d-md-block"><a
						class="page-link waves-effect waves-effect">First</a></li>

					<!-- Arrow left -->
					<li class="page-item "><a
						class="page-link waves-effect waves-effect" aria-label="Previous">

							<span aria-hidden="true">«</span> <span class="sr-only">Previous</span>

					</a></li>

					<!-- Numbers -->
					<li class="page-item "><a
						class="page-link waves-effect waves-effect">1</a></li>

					<li class="page-item "><a
						class="page-link waves-effect waves-effect ">2</a></li>

					<li class="page-item "><a
						class="page-link waves-effect waves-effect">3</a></li>

					<li class="page-item "><a
						class="page-link waves-effect waves-effect">4</a></li>

					<li class="page-item "><a
						class="page-link waves-effect waves-effect">5</a></li>

					<!-- Arrow right -->
					<li class="page-item"><a
						class="page-link waves-effect waves-effect " aria-label="Next">

							<span aria-hidden="true">»</span> <span class="sr-only ">Next</span>

					</a></li>

					<!-- First -->
					<li class="page-item clearfix d-none d-md-block "><a
						class="page-link waves-effect waves-effect">Last</a></li>

				</ul>

			</nav>
			<!-- Pagination -->

		</div>
	</div>
</div>
