<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Footer</title>
</head>
<body>
	<div th:fragment="footer">
		<footer
			class="page-footer text-center text-md-left stylish-color-dark pt-0">

			<div style="background-color: #4285f4;">

				<div class="container">

					<!-- Grid row -->
					<div class="row py-4 d-flex align-items-center">

						<!-- Grid column -->
						<div
							class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">

							<h6 class="mb-0 white-text">Get connected with us on social
								networks!</h6>

						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-6 col-lg-7 text-center text-md-right">

							<!-- Facebook -->
							<a class="fb-ic ml-0 px-2"> <i
								class="fab fa-facebook-f white-text"> </i>

							</a>

							<!-- Twitter -->
							<a class="tw-ic px-2"> <i class="fab fa-twitter white-text">
							</i>

							</a>

							<!-- Google + -->
							<a class="gplus-ic px-2"> <i
								class="fab fa-google-plus-g white-text"> </i>

							</a>

							<!-- Linkedin -->
							<a class="li-ic px-2"> <i
								class="fab fa-linkedin-in white-text"> </i>

							</a>

							<!-- Instagram -->
							<a class="ins-ic px-2"> <i
								class="fab fa-instagram white-text"> </i>

							</a>

						</div>
						<!-- Grid column -->

					</div>
					<!-- Grid row -->

				</div>

			</div>

			<!-- Footer Links -->
			<div class="container mt-5 mb-4 text-center text-md-left">

				<div class="row mt-3">

					<!-- First column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mb-4">

						<h6 class="text-uppercase font-weight-bold">

							<strong>Dammika Hotel PVT LTD</strong>

						</h6>

						<hr class="blue mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">

						<p>Each Hilton Hotel & Resort is a unique reflection of its
							destination and combines local influences with out-of-this-world
							service to make your stay truly memorable. Make the most of your
							stay with innovative fitness equipment, restful spa treatments,
							and nutritious food and beverage options.</p>

					</div>
					<!-- First column -->

					<!-- Second column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

						<h6 class="text-uppercase font-weight-bold">

							<strong>Food and beverage</strong>

						</h6>

						<hr class="blue mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">

						<p>

							<a href="#!">xxxxxxxxxxx</a>

						</p>

						<p>

							<a href="#!">xxxxxxxxxxx</a>

						</p>

						<p>

							<a href="#!">xxxxxxxxxxx</a>

						</p>

						<p>

							<a href="#!">xxxxxxxxxxx</a>

						</p>

					</div>
					<!-- Second column -->

					<!-- Third column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

						<h6 class="text-uppercase font-weight-bold">

							<strong>What we offer</strong>

						</h6>

						<hr class="blue mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">

						<p>

							<a href="#!">Secure Account</a>

						</p>

						<p>

							<a href="#!">A variety of food and beverage options</a>

						</p>

						<p>

							<a href="#!">Considerable Shipping Rates</a>

						</p>

						<p>

							<a href="#!">Secure Checkout</a>

						</p>

					</div>
					<!-- Third column -->

					<!-- Fourth column -->
					<div class="col-md-4 col-lg-3 col-xl-3">

						<h6 class="text-uppercase font-weight-bold">

							<strong>Contact</strong>

						</h6>

						<hr class="blue mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">

						<p>

							<i class="fas fa-home mr-3"></i> Dammika hotel, colombo
						</p>

						<p>

							<i class="fas fa-envelope mr-3"></i> dammika@gmail.com
						</p>

						<p>

							<i class="fas fa-phone mr-3"></i>077*******
						</p>

						<p>

							<i class="fas fa-print mr-3"></i> 011*******
						</p>

					</div>
					<!-- Fourth column -->

				</div>

			</div>
			<!-- Footer Links -->

			<!-- Copyright -->
			<div class="footer-copyright py-3 text-center">

				<div class="container-fluid">

					© 2020 Copyright: <a href="" target="_blank"> dammika@hotel PVT
						LMT </a> Developer: <a href="" target="_blank"> Manuka Yasas </a>
				</div>

			</div>
			<!-- Copyright -->

		</footer>


		<!--Modal: modalCookie-->
		<div class="modal fade top" id="modalCookie1" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
			data-backdrop="true">
			<div
				class="modal-dialog modal-frame modal-top modal-notify modal-info"
				role="document">
				<!--Content-->
				<div class="modal-content">
					<!--Body-->
					<div class="modal-body">
						<div class="row d-flex justify-content-center align-items-center">

							<p class="pt-3 pr-2" sec:authorize="isAuthenticated()">
								<strong><span
									sec:authentication="principal.user.username"> </span></strong> <span>
									,your account is not activated, to activate please check your
									email,</span> <strong><span
									sec:authentication="principal.user.email"></</span></strong>
							</p>

							<a sec:authorize="isAuthenticated()" type="button" id="sendEmailCodeVerify"
								class="btn btn-primary" onclick="ResendActivationCode()">Send
								Activation Code<i class="fas fa-book ml-1"></i>
							</a> <a type="button" class="btn btn-outline-primary waves-effect"
								data-dismiss="modal">Not now, Later</a>
						</div>
					</div>
				</div>
				<!--/.Content-->
			</div>
		</div>
	</div>
</body>
</html>