<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<!-- Bootstrap core CSS -->
<link th:href="@{'/Design/mdPro/css/bootstrap.min.css'}"
	rel="stylesheet">
<!-- Material Design Bootstrap -->
<link th:href="@{'/Design/mdPro/css/mdb.min.css'}" rel="stylesheet">

<link th:href="@{'/Design/mdPro/css/style.css'}" rel="stylesheet">

<link th:href="@{'/Design/mdPro/css/modules/animations-extended.css'}"
	rel="stylesheet">
<link
	th:href="@{'/Design/mdPro/css/modules/animations-extended.min.css'}"
	rel="stylesheet">

<link th:href="@{'/Design/mdPro/css/addons/datatables.css'}"
	rel="stylesheet">
<link th:href="@{'/Design/mdPro/css/addons/datatables.min.css'}"
	rel="stylesheet">
<link th:href="@{'/Design/mdPro/css/mdb.ecommerce.min.css'}"
	rel="stylesheet">
<link th:href="@{'/Design/mdPro/css/upload-file.css'}" rel="stylesheet">
<link th:href="@{'/Design/mdPro/css/mdb-pro.min.css'}" rel="stylesheet">
<link th:href="@{'/Design/panel/css/myCustomNotifications.css'}"
	rel="stylesheet">
<link th:href="@{'/Design/panel/css/mdb.min.css'}" rel="stylesheet">