<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="~{layouts/hotel/layout.html}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>Home Page</title>


<style type="text/css">
html, body, header, .view.jarallax {
	height: 100%;
	min-height: 100%;
}
</style>


<style type="text/css" id="jarallax-clip-0">
#jarallax-container-0 {
	clip: rect(0, 764.7999877929688px, 792px, 0);
	clip: rect(0, 764.7999877929688px, 792px, 0);
}
</style>

</head>

<body class="restaurant-lp">

	<!-- header and nav -->
	<div layout:fragment="content">


		<!-- Intro Section -->
		<div id="home" 
			style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/42.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
			<div class="mask rgba-black-slight" style="height:800px;width:100%">
				<div
					class="container h-100 d-flex justify-content-center align-items-center">
					<div class="row smooth-scroll">
						<div class="col-md-12 dark-grey-text text-center">
							<div class="wow fadeInDown" data-wow-delay="0.2s">
								<h2 class="display-3 font-weight-bold mb-2 mt-5 mt-xl-2">Dammika
									Hotel</h2>
								<hr class="hr-dark">
								<h4 class="subtext-header mt-2 mb-3">Free changes and
									cancellations for new, individual reservations</h4>
								<h4 class="mb-5 clearfix d-none d-md-inline-block">made by
									August 31, 2020.</h4>
							</div>
							<a class="btn btn-deep-orange btn-rounded wow fadeInUp"
								data-wow-delay="0.2s"> <i class="far fa-calendar-alt mr-2"></i>
								<span> Make a reservation</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!--Main content-->
		<main>

			<!--First container-->
			<div class="container">

				<!--Section: About-->
				<section id="about" class="about mt-3 mb-5">

					<!--Secion heading-->
					<div class="row mt-5 mb-4">
						<div class="col-md-12">
							<div class="divider-new">
								<h3
									class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn"
									data-wow-delay="0.2s">about us</h3>
							</div>
						</div>
						<!--First row-->

						<div class="row mt-4">

							<!--First column-->
							<div class="col-lg-5 col-md-12 mb-3 wow fadeIn"
								data-wow-delay="0.4s">

								<!--Image-->
								<img src="https://mdbootstrap.com/img/Others/food2.jpg" alt=""
									class="z-depth-0 img-fluid">

							</div>
							<!--/First column-->

							<!--Second column-->
							<div class="col-lg-6 offset-lg-1 col-md-12 wow fadeIn"
								data-wow-delay="0.4s">

								<!--Title-->
								<h4 class="text-center mb-4">Our Guests enjoy the best of
									everything</h4>

								<!--Description-->
								<p class="grey-text mb-6 mr-3  ml-3" align="justify">The
									finest star class hotel in Sri Lanka with the best of dinning,
									accommodation and entertainment facilities. This 450 roomed
									beauty is located facing the foaming ripples of the Indian
									Ocean and remains to be one of the best hotels in Sri Lanka.
									Step-in to be lost in unearthly cuisines, cosy hideouts,
									heavenly surrounding and the best of services, which other
									hotels in Sri Lanka could not offer. Galadari Hotel Sri Lanka;
									one of the finest hotels in Sri Lanka is not only the best
									place to relax, eat and indulge, but is also the finest place
									to celebrate. Come! Delight & breathe the air of luxury at the
									heart of Colombo.</p>

							</div>
							<!--/Second column-->

						</div>
						<!--/First row-->

					</div>

				</section>
				<!--/Section: About-->

			</div>
			<!--/First container-->

			<!--Streak-->
			<div class="streak streak-photo streak-md"
				style="background-image: url('https://mdbootstrap.com/img/Others/food31.jpg');">
				<div class="flex-center mask rgba-black-strong">
					<div class="text-center white-text">
						<h2 class="h2-responsive mb-5">
							<i class="fas fa-quote-left" aria-hidden="true"></i> Awesome
							location,excellent choice of food across a diverse range of
							cuisine, courteous and friendly staff, strong systems in place,
							fast check-in and checkout ..all in all a home away from home
							experience., <i class="fas fa-quote-right" aria-hidden="true"></i>
						</h2>
						<h5 class="text-center font-italic">~ ANIL JEET</h5>
					</div>
				</div>
			</div>
			<!--/Streak-->

			<!--Second container-->
			<div class="container">

				<!--Section: Menu intro-->
				<section id="intro" class="mt-3 mb-4">

					<!--Section heading-->
					<div class="row mt-5 mb-4">
						<div class="col-md-12 mb-3">
							<div class="divider-new">
								<h3
									class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn"
									data-wow-delay="0.2s">Discover our delights</h3>
							</div>
						</div>
					</div>

					<!--First row-->
					<div class="row smooth-scroll">

						<!--First column-->
						<div class="col-lg-6 col-md-12 wow fadeIn" data-wow-delay="0.4s">

							<!--Title-->
							<h4 class="mb-4 text-center">All Asian cuisine in one place</h4>

							<!--Description-->
							<p class="grey-text mb-4" align="justify">Bright and airy,
								this dining room offers a relaxing and casual atmosphere for
								diners. Daily buffet for breakfast and lunch. Open 24 hours the
								Coffee Shop also features an international a la carte menu with
								many Asian specialty dishes.</p>

							<!--Menu button-->
							<div class="text-center mb-2 mt-2">
								<a href="menu" data-offset="100"
									class="btn btn btn-outline-grey btn-rounded waves-effect">
									<strong>See full menu</strong>
								</a>
							</div>

						</div>
						<!--/First column-->

						<!--Second column-->
						<div class="col-lg-5 ml-auto col-md-12 mb-5 wow fadeIn"
							data-wow-delay="0.4s">

							<!--Image-->
							<img src="https://mdbootstrap.com/img/Others/food.jpg" alt=""
								class="z-depth-0 img-fluid">

						</div>
						<!--/Second column-->

					</div>
					<!--/First row-->

				</section>
				<!--/Section: Menu intro-->

			</div>

			<hr>

			<!--Section: Products-->
			<div class="container">

				<section id="specials">

					<!--Secion heading-->
					<div class="row mt-5 mb-4">
						<div class="col-md-12">
							<div class="divider-new">
								<h3
									class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn"
									data-wow-delay="0.2s">our specials</h3>
							</div>
						</div>

						<p class="grey-text text-center ml-3 mr-3 mt-1 mb-5">Our
							Executive Floor Rooms have being designed with the Business
							Traveller in mind with access to the Business Lounge that
							provides 24 hour tea/coffee service, complimentary breakfast and
							evening.</p>

						<!--First row-->
						<div class="row text-center mr-2 ml-2 mt-3">

							<!--First column-->
							<div class="col-lg-4 col-md-12 mb-4 wow fadeIn"
								data-wow-delay="0.4s">

								<!--Card-->
								<div class="card card-cascade wider">

									<!--Card image-->
									<div class="view view-cascade overlay zoom">
										<img src="https://mdbootstrap.com/img/Others/food6.jpg"
											class="img-fluid"> <a href="#!">
											<div class="mask rgba-white-slight"></div>
										</a>
									</div>
									<!--/Card image-->

									<!--Card content-->
									<div class="card-body card-body-cascade text-center">
										<!--Title-->
										<h4 class="card-title">
											<strong>Breakfast</strong>
										</h4>

									</div>
									<!--/.Card content-->

								</div>
								<!--/.Card-->

							</div>
							<!--/First column-->

							<!--Second column-->
							<div class="col-lg-4 col-md-6 mb-4 wow fadeIn"
								data-wow-delay="0.4s">

								<!--Card-->
								<div class="card card-cascade wider">

									<!--Card image-->
									<div class="view view-cascade overlay zoom">
										<img
											src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
											class="img-fluid"> <a href="#!">
											<div class="mask rgba-white-slight"></div>
										</a>
									</div>
									<!--/Card image-->

									<!--Card content-->
									<div class="card-body card-body-cascade text-center">
										<!--Title-->
										<h4 class="card-title">
											<strong>Launches</strong>
										</h4>

									</div>
									<!--/.Card content-->

								</div>
								<!--/.Card-->

							</div>
							<!--/Second column-->

							<!--Third column-->
							<div class="col-lg-4 col-md-6 mb-4 wow fadeIn"
								data-wow-delay="0.4s">

								<!--Card-->
								<div class="card card-cascade wider">

									<!--Card image-->
									<div class="view view-cascade overlay zoom">
										<img src="https://mdbootstrap.com/img/Others/food7.jpg"
											class="img-fluid"> <a href="#!">
											<div class="mask rgba-white-slight"></div>
										</a>
									</div>
									<!--/Card image-->

									<!--Card content-->
									<div class="card-body card-body-cascade text-center">
										<!--Title-->
										<h4 class="card-title">
											<strong>Desserts</strong>
										</h4>

									</div>
									<!--/.Card content-->

								</div>
								<!--/.Card-->

							</div>
							<!--/Third column-->

						</div>
						<!--/First row-->

					</div>

				</section>

			</div>
			<!--/Section: Products-->

			<!--Streak-->
			<div class="streak streak-photo streak-long-2"
				style="background-image: url('https://mdbootstrap.com/img/Others/food5.jpg')">
				<div class="mask flex-center rgba-black-strong">
					<div class="container">

						<h2
							class="text-center text-white mb-5 text-uppercase font-weight-bold wow fadeIn"
							data-wow-delay="0.2s">Great people trusted our services</h2>

						<!--First row-->
						<div class="row text-white text-center wow fadeIn"
							data-wow-delay="0.2s">

							<!--First column-->
							<div class="col-md-3 mb-2">
								<h1 class="green-text mb-1 font-weight-bold py-3">+950</h1>
								<p class="mb-3">Happy clients</p>
							</div>
							<!--/First column-->

							<!--Second column-->
							<div class="col-md-3 mb-2">
								<h1 class="green-text mb-1 font-weight-bold py-3">+150</h1>
								<p class="mb-3">Projects completed</p>
							</div>
							<!--/Second column-->

							<!--Third column-->
							<div class="col-md-3 mb-2">
								<h1 class="green-text mb-1 font-weight-bold py-3">+85</h1>
								<p class="mb-3">Winning awards</p>
							</div>
							<!--/Third column-->

							<!--Fourth column-->
							<div class="col-md-3">
								<h1 class="green-text mb-1 font-weight-bold py-3">+246</h1>
								<p class="mb-3">Cups of coffee</p>

							</div>
							<!--/Fourth column-->

						</div>
						<!--/First row-->
					</div>
				</div>
			</div>
			<!--/Streak-->



			<!--Gallery-->
			<div class="container-fluid mt-5">

				<!--Section: Main portfolio-->
				<section id="portfolio">

					<!--First row-->
					<div class="row wow fadeIn" data-wow-delay="0.4s">

						<!--First column-->
						<div class="col-md-12">

							<div id="mdb-lightbox-ui"></div>

							<!--Full width lightbox-->
							<div class="mdb-lightbox">

								<figure class="col-md-4">
									<a
										href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg"
										data-size="1600x1067"> <img
										src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg"
										class="img-fluid z-depth-1-half">
									</a>
								</figure>

								<figure class="col-md-4">
									<a
										href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(48).jpg"
										data-size="1600x1067"> <img
										src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(48).jpg"
										class="img-fluid z-depth-1-half">
									</a>
								</figure>

								<figure class="col-md-4">
									<a
										href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg"
										data-size="1600x1067"> <img
										src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg"
										class="img-fluid z-depth-1-half">
									</a>

								</figure>
								<figure class="col-md-4">
									<a
										href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(44).jpg"
										data-size="1600x1067"> <img
										src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(44).jpg"
										class="img-fluid z-depth-1-half">
									</a>
								</figure>

								<figure class="col-md-4">
									<a
										href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(41).jpg"
										data-size="1600x1067"> <img
										src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(41).jpg"
										class="img-fluid z-depth-1-half">
									</a>
								</figure>

								<figure class="col-md-4">
									<a
										href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(47).jpg"
										data-size="1600x1067"> <img
										src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(47).jpg"
										class="img-fluid z-depth-1-half">
									</a>
								</figure>

							</div>
							<!--/Full width lightbox-->

						</div>
						<!--/First column-->

					</div>
					<!--/First row-->

				</section>
				<!--/Section: Main portfolio-->

			</div>
			<!--/Gallery-->

			<div class="container">

				<!--Section: Testimonials v.3-->
				<section id="testimonials" class="team-section mt-2 mb-5">

					<!--Secion heading-->
					<div class="row mt-5 mb-4">
						<div class="col-md-12">
							<div class="divider-new">
								<h3
									class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn"
									data-wow-delay="0.2s">Our Guests opinions</h3>
							</div>
						</div>
						<!--/Secion heading-->

						<!--Section description-->
						<p
							class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn"
							data-wow-delay="0.2s">Awesome location,excellent choice of
							food across a diverse range of cuisine, courteous and friendly
							staff, strong systems in place, fast check-in and checkout ..all
							in all a home away from home experience.</p>

						<!--First row-->
						<div class="row text-center">

							<!--First column-->
							<div class="col-md-4 mb-4 wow fadeIn" data-wow-delay="0.4s">

								<div class="testimonial">
									<!--Avatar-->
									<div class="avatar mx-auto mb-4">
										<img
											src="https://mdbootstrap.com/img/Photos/Avatars/img%20%285%29.jpg"
											class="rounded-circle img-fluid z-depth-1-half">
									</div>

									<!--Content-->
									<h4 class="font-weight-bold">ANIL JEET</h4>
									<p>
										<i class="fas fa-quote-left "></i>They offer delicious food,
										good customer service. Good surroundings. Front facing the
										Galle Face green. Located in an urban area in Sri Lanka.
										Luxury hotel with good food. Perfect location for weddings as
										well.<i class="fas fa-quote-right"></i>
									</p>

									<!--Review-->
									<div class="green-text">
										<i class="fas fa-star"> </i> <i class="fas fa-star"> </i> <i
											class="fas fa-star"> </i> <i class="fas fa-star"> </i> <i
											class="fas fa-star-half-alt"> </i>
									</div>
								</div>
							</div>
							<!--/First column-->

							<!--Second column-->
							<div class="col-md-4 mb-4 wow fadeIn" data-wow-delay="0.4s">
								<div class="testimonial">
									<!--Avatar-->
									<div class="avatar mx-auto mb-4">
										<img
											src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg"
											class="rounded-circle img-fluid z-depth-1-half">
									</div>

									<!--Content-->
									<h4 class="font-weight-bold">M. MENDIS</h4>
									<p>
										<i class="fas fa-quote-left"></i>They offer delicious food,
										good customer service. Good surroundings. Front facing the
										Galle Face green. Located in an urban area in Sri Lanka.
										Luxury hotel with good food. Perfect location for weddings as
										well.<i class="fas fa-quote-right"></i>
									</p>

									<!--Review-->
									<div class="green-text">
										<i class="fas fa-star"> </i> <i class="fas fa-star"> </i> <i
											class="fas fa-star"> </i> <i class="fas fa-star"> </i> <i
											class="fas fa-star"> </i>
									</div>
								</div>
							</div>
							<!--/Second column-->

							<!--Third column-->
							<div class="col-md-4 mb-4 wow fadeIn" data-wow-delay="0.4s">
								<div class="testimonial">
									<!--Avatar-->
									<div class="avatar mx-auto mb-4">
										<img
											src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg"
											class="rounded-circle img-fluid z-depth-1-half">
									</div>
									<!--Content-->
									<h4 class="font-weight-bold">M. PETER</h4>
									<p>
										<i class="fas fa-quote-left"></i> They offer delicious food,
										good customer service. Good surroundings. Front facing the
										Galle Face green. Located in an urban area in Sri Lanka.
										Luxury hotel with good food. Perfect location for weddings as
										well.<i class="fas fa-quote-right"></i>
									</p>

									<!--Review-->
									<div class="green-text">
										<i class="fas fa-star"> </i> <i class="fas fa-star"> </i> <i
											class="fas fa-star"> </i> <i class="fas fa-star"> </i> <i
											class="far fa-star"> </i>
									</div>

								</div>
							</div>
							<!--/Third column-->

						</div>
						<!--/First row-->
					</div>

				</section>
				<!--/Section: Testimonials v.3-->

			</div>

		</main>
		<!--/Main content-->

	</div>

</body>
</html>